.slideshow-container {
  margin-bottom: 30px;
}

.slideshow-container .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.slideshow-container .swiper-button-next,
.slideshow-container .swiper-button-prev {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 50%;
}

.slideshow-container .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.8;
}

.slideshow-container .swiper-pagination-bullet-active {
  background: #e31221;
} 