/* VideoDialog.css */
.overlay {
    position: fixed; /* Để lớp phủ nằm trên cùng của trang */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ mờ 50% */
    z-index: 1000; /* Đảm bảo lớp phủ nằm trên cùng */
  }
  